#n-72c19f59-cfe5-463e-a496-d19d21d9729c {
    background-image: var(--bg-1920, var(--background-image));
}

#n-fecf051f-be32-44f8-920b-6819fd597100 {
    --focus-border: 2px solid rgba(222, 0, 36, 1);
}

#n-fd84891a-681d-4926-b746-82748e71c472 {
    --focus-border: 2px solid rgba(222, 0, 36, 1);
}

#n-24994391-0546-4ba6-89fb-4940742b013c {
    --active-background-color: rgba(222, 0, 36, 1);
}

#n-3bc19b3c-6eb6-41f9-90a5-bcc7a0cb958c {
    --active-background-color: rgba(222, 0, 36, 1);
}

#n-8b28303c-5eb2-4a81-9353-80804d57384e {
    --normal-border: 1px solid rgba(222, 0, 36, 1);
    --normal-background-color: rgba(222, 0, 36, 1);
}

@media screen and (max-width: 1199px) {
    #n-72c19f59-cfe5-463e-a496-d19d21d9729c {
        background-image: var(--bg-1199, var(--background-image));
    }
}

@media screen and (max-width: 1023px) {
    #n-72c19f59-cfe5-463e-a496-d19d21d9729c {
        background-image: var(--bg-1023, var(--background-image));
    }
}

@media screen and (max-width: 767px) {
    #n-72c19f59-cfe5-463e-a496-d19d21d9729c {
        background-image: var(--bg-767, var(--background-image));
    }
}

@media screen and (max-width: 666px) {
    #n-72c19f59-cfe5-463e-a496-d19d21d9729c {
        background-image: var(--bg-666, var(--background-image));
    }
}