#n-bb40b928-2da4-49a9-80f9-0655a8441d2d {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(222, 0, 36, 1);
}

#n-f81c9d22-7e41-4522-a579-f61bbd954a6d {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(222, 0, 36, 1);
}

#n-b514f91e-a4b4-4b5b-8da1-749102f57c39 {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(222, 0, 36, 1);
}

#n-d33f688c-cb75-428c-bfd2-0aa7390b3a39 {
    background-image: var(--bg-1920, var(--background-image));
}

@media screen and (max-width: 1199px) {
    #n-d33f688c-cb75-428c-bfd2-0aa7390b3a39 {
        background-image: var(--bg-1199, var(--background-image));
    }
}

@media screen and (max-width: 1023px) {
    #n-d33f688c-cb75-428c-bfd2-0aa7390b3a39 {
        background-image: var(--bg-1023, var(--background-image));
    }
}

@media screen and (max-width: 767px) {
    #n-d33f688c-cb75-428c-bfd2-0aa7390b3a39 {
        background-image: var(--bg-767, var(--background-image));
    }
}

@media screen and (max-width: 666px) {
    #n-d33f688c-cb75-428c-bfd2-0aa7390b3a39 {
        background-image: var(--bg-666, var(--background-image));
    }
}