@media screen and (min-width: 1200px) {
    #n-0427bb3d-e87a-44db-9724-2b2c893be2a6 {
        padding-bottom: 120px;
    }
}

#n-caf6f2fb-3be0-44e3-8f08-4600f8fd1637 {
    --active-background-color: rgba(222, 0, 36, 1);
}

#n-39b4a7d7-aeb1-4416-b8cd-5e957a2e8879 {
    color: rgba(222, 0, 36, 1);
}

#n-2e57ddee-f33a-4167-87bd-5854babf9ff7 {
    color: rgba(222, 0, 36, 1);
}

#n-faa77420-7cf4-4ab8-ba73-50ae738b5a35 {
    background-image: var(--bg-1920, var(--background-image));
}

@media screen and (max-width: 1199px) {
    #n-faa77420-7cf4-4ab8-ba73-50ae738b5a35 {
        background-image: var(--bg-1199, var(--background-image));
    }
}

@media screen and (max-width: 1023px) {
    #n-faa77420-7cf4-4ab8-ba73-50ae738b5a35 {
        background-image: var(--bg-1023, var(--background-image));
    }
}

@media screen and (max-width: 767px) {
    #n-faa77420-7cf4-4ab8-ba73-50ae738b5a35 {
        background-image: var(--bg-767, var(--background-image));
    }
}

@media screen and (max-width: 666px) {
    #n-faa77420-7cf4-4ab8-ba73-50ae738b5a35 {
        background-image: var(--bg-666, var(--background-image));
    }
}