@media screen and (min-width: 1200px) {
    #n-9a7f360f-01f9-4b48-9634-756264fae0f9 {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

#n-f8eec2a9-e5b0-44b2-8d72-cae47a712a45 {
    --normal-border: 1px solid rgba(222, 0, 36, 1);
    --normal-background-color: rgba(222, 0, 36, 1);
}

#n-1cafcb51-be30-45ec-9c41-28ad45200201 {
    --normal-border: 1px solid rgba(222, 0, 36, 1);
    --normal-background-color: rgba(222, 0, 36, 1);
}

#n-9e9c1ba1-698f-44e7-9678-1a8778251aa0 {
    --normal-border: 1px solid rgba(222, 0, 36, 1);
    --normal-background-color: rgba(222, 0, 36, 1);
}

#n-e2ee4b34-408c-4cde-93fb-036fad2787f4 {
    background-image: var(--bg-1920, var(--background-image));
}

@media screen and (max-width: 1199px) {
    #n-e2ee4b34-408c-4cde-93fb-036fad2787f4 {
        background-image: var(--bg-1199, var(--background-image));
    }
}

@media screen and (max-width: 1023px) {
    #n-e2ee4b34-408c-4cde-93fb-036fad2787f4 {
        background-image: var(--bg-1023, var(--background-image));
    }
}

@media screen and (max-width: 767px) {
    #n-e2ee4b34-408c-4cde-93fb-036fad2787f4 {
        background-image: var(--bg-767, var(--background-image));
    }
}

@media screen and (max-width: 666px) {
    #n-e2ee4b34-408c-4cde-93fb-036fad2787f4 {
        background-image: var(--bg-666, var(--background-image));
    }
}